* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/public/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  width: 100%;
}
